.a {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
  }
  
  .a-right {
    flex: 1;
    width: 500px;
    /* border: 2px solid red; */
    color:#333;
    text-transform: uppercase;
  }
  
  .a-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
    

    background-color: #333;
  }
  
  .a-card {
    width: 70%;
    height: 70vh;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }
  
  .a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .a-award-img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
  }
  
  .a-title {
    font-weight: 400;
    display: block;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 5px;
   /*  Animation decalaration   */
    animation-name: moveInleft;
    animation-duration: 10s;
    color: red;
  }
  
  .a-sub {
    margin: 20px 0px;
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px;
  
    animation-name: moveInRight;
    animation-duration: 3s;
    color: rgb(73, 73, 78);
  }
  
  .a-desc{
      font-weight: 300;
      width: 80%;
      margin: 20px 0px;
      display: block;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 2px;
    color: rgb(73, 73, 78);

  }
  
  .a-award{
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .a-award-texts{
      width: 70%;
  }
  
  .a-award-title{
      font-weight: bold;
      color: #555;
      margin-bottom: 10px;
  }
  .text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;  
  }

  @keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }

}
  
  @media screen and (max-width:880px) {
      .a{
        flex-direction: column;
        text-align: center;
        margin-top: 100px;
        width: 100%;
        /* margin-left: 70px; */
      }
  
      .a-left {
        width: 100%;
      }
  
      .a-card {
        height: 320px;
        width: 280px;
        margin-left: 50px;
      }
  
      .a-card.bg, .a-award {
        display: none;
      }
  
      .a-right{
        padding: 20px;
        width: 480px;

      }
      .a-sub{
        margin-left: 20px;
      }
      .a-desc{
    margin-left: 20px;
    width: 100%;
      }
  }